  <!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> (964)-750-153-4718
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> Ali@realEstate.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://twitter.com/AliSrwsht">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/AliE4o4P/">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/feed/">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/a_.l_i/">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>